body{
    font-family: 'Rubik', sans-serif;
}

.NavbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    width: 80%;
    height: 80px;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    background: rgb(255, 255, 255);;
}


.navbar-logo{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.navbar-logo:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

.nav-links{
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem ;
    white-space: nowrap;
}

.nav-links i{
    padding-right: 5px;
}

.nav-links:hover{
    background-color: rgb(0, 0, 0); ;
    color: rgb(255, 255, 255);;
    transition: all 0.2s ease-in-out;
}

.nav-links-mobile{
    display: none;
}

.menu-icons{
    display: none;
    
}

@media screen and (max-width: 950px){
    .NavbarItems{
        z-index: 99;
    }

    .nav-menu{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: flex-start;
        background: rgba(255, 255, 255, 0.821);
        width: 100%;
        height: auto;
        position: absolute;
        top: 2rem;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        transition: 0.3s ease-in-out;
    }

    .nav-menu.active{
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
    }

    .nav-links{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;

    }

    .nav-links:hover{
        background: rgb(0, 0, 0);
        transition: none;
        transition: all 0.3s ease-in;
    }

    .menu-icons{
        display: block;
    }

    .menu-icons i{
        font-size: 1.2rem;
        color: rgb(0, 0, 0);
    }

}


